<footer class="footer-distributed">
  <div class="footer-center">
    <p class="footer-links">
      <%= link_to "Home", discover_path %> • <%= link_to "My profile", "#" %>
    </p>
    <p class="footer-Beatween">Beatween &copy; 2018</p>
  </div>
</footer>
