<div class="footer">
  <div class="container">
    <span class="text-muted">
      <div class="copy">Beatween &copy; 2018 | Enlarge your music</div>
      <div class="social-links">
        <div class="social-link-icon"><i class="fab fa-facebook-f align-middle"></i></div>
        <div class="social-link-icon"><i class="fab fa-twitter align-middle"></i></div>
        <div class="social-link-icon"><i class="fab fa-instagram align-middle"></i></div>
      </div>
    </span>
  </div>
</div>
