<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, search, form, icons" />

  <title>Footer with a Search Form</title>


</head>

<body>




  <!-- The content of your page would go here. -->

  <footer class="footer-distributed">

   <div class="footer-left">

    <p class="footer-links">
     <a href="#">Home</a>
     ·
     <a href="#">Blog</a>
     ·
     <a href="#">Tracks</a>
     ·
     <a href="#">About</a>
     ·
     <a href="#">Faq</a>
     ·
     <a href="#">Contact</a>
   </p>

   <p class="footer-Beatween">Beatween &copy; 2018</p>

 </div>

 <div class="footer-right">

  <form method="get" action="#">
   <input placeholder="Search database" name="search" />
   <i class="fa fa-search"></i>
 </form>

</div>

</footer>

</body>

</html>
