<div class="inner-footer">

  <div class="copy">Beatween &copy; 2018</div>

  <div class="social">
    <ul class="list-unstyled list-inline">
      <li><i class="fab fa-facebook-f align-middle"></i></li>
      <li><i class="fab fa-twitter align-middle"></i></li>
      <li><i class="fab fa-instagram align-middle"></i></li>
    </ul>
  </div>

</div>
