<div class="container">
  <div class="page-title">
    <div>.disc</div>
    <div>over</div>
  </div>
  <div class="card">
    <div class="row">
      <% @songs.each do |song| %>
        <% split = (song.duration.to_f / 60000).to_s.split(".") %>
        <% @minutes = split[0] %>
        <% @seconds = split[1] %>
        <%= render 'card', song: song%>
      <% end %>
    </div>
  </div>
</div>
