<div class="container">
    <div class="image-titre-index-song">
        <img src="https://res.cloudinary.com/dae1kvpyn/image/upload/v1536050467/discover-real.svg" width="100" height="100">
    </div>

  <% if @songs.count == 0 %>
    <h3>no results</h3>
  <% else %>
    <div class="card">
      <div class="row cards-board">
        <% @songs.each do |song| %>
          <% @minutes = song.duration / 60000 %>
          <% @seconds = song.duration / 10000 % 60 %>
          <%= render 'card', song: song%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

