<div class="container">
  <h2>
    <div>.disc</div>
    <div>over</div>
  </h2>
  <div class="card">
    <div class="row">
      <% @songs.each do |song| %>
        <%= render 'card', song: song%>
      <% end %>
    </div>
  </div>
</div>
