<div class="container">
  <div class="page-title">
    <div>.disc</div>
    <div>over</div>
  </div>

  <% if @songs.count == 0 %>
    <h3>no results</h3>
  <% else %>
    <div class="card">
      <div class="row cards-board">
        <% @songs.each do |song| %>
          <% @minutes = song.duration / 60000 %>
          <% @seconds = song.duration / 10000 % 60 %>
          <%= render 'card', song: song%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

