.footer {
  background-color: #24292e;
  margin-top: 20px;
}

.text-muted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  color: #fff;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links div {
  padding: 20px;
}
