.footer {
  background-color: #24292e;
}

.text-muted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 30px;
  color: #fff;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links div {
  padding: 20px;
  margin: 10px 0px;
}

.social-link-icon:hover {
  opacity: 0.6;
}
