.inner-footer {
  position: relative;
  bottom: 0px;
  background-color: rgb(37, 41, 46);
  width: 100%;
  padding: 8px 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  color: white;
  font-weight: lighter;
}

.social li {
  padding-top: 10px;
}
