#navbar-navbar {
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 5px;
}

#logo-logo {
  width: 220px;
  padding: 10px;
  justify-self: center;
  background-color: #fff;
  border-radius: 5px;
}

#logo-logo img {
  width: 200px;
}

#navbar-nav {
  display: flex;
  align-items: center;
}

#menu-menu {
  padding: 0 20px;
}

#main-menu i {
  font-size: 40px;
}

#menu-add-song a {
  font-weight: 100;
  border: 0px solid #000;
  padding: 15px;
  opacity: 0.5;
  background-color: #fff;
  color: #000;
}

#menu-add-song a:hover {
  opacity: 1;
  color: #fff;
  background-color: #0009c2;
  border-radius: 30px;
}

.dropdown-menu {
  border: 0px solid #000;
  padding: 20px;
}

.dropdown-menu img {
  border-radius: 50%;
}

.dropdown-item {
  margin: 10px auto;
  font-weight: 200;
}
.dropdown-item a {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
}

.dropdown-item a:hover {
  opacity: 1;
}

/* search field */

#search-button {
  font-size: 36px;
  color: #bbb;
  z-index: 1;
  padding: 0 10px;
}

#search-button:hover {
  opacity: 0.8;
}

#search-bar {
  color: #fff;
}

.invisible {
  display: none;
}

.form-invisible {
  display: none;
}

.forms-search {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  padding: 0 10px;
}

.btn-search {
  padding: 6px 10px;
  color: #000;
  border: 1px solid #000;
  border-radius: 25px;
  margin: 10px auto;
  opacity: 0.4;
}

.btn-search:hover {
  padding: 6px 10px;
  color: #fff;
  background-color: #bbb;
  border-radius: 25px;
  border: 1px solid #bbb;
  margin: 10px auto;
  opacity: 1;
}

.form-control {
  border-radius: 5px;
}

#navbar-search-field {
  display:flex;
  align-items: center;
  justify-content: space-around;
}
