.song-card {
  margin-top: 20px;
}

.song-card-background {
  border-radius: 10px;
}

.song-wrapper-with-search {
  width: 70%;
}

.song-card-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

.opacity-hover {
  opacity: 1;
}

.song-card a {
  text-decoration: none;
  color: #fff;
}

.song-card-content-bg {
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.song-card-content-bg-small {
  height: 100px;
}

.song-card-content-bg-fat {
  height: 120px;
}

.song-card-username {
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700;
}

.song-card-metada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
}

.invisible {
  display: none;
}
