@import "card";
@import "show";
@import "new";

.image-titre-home{
  text-align: left;
}

.page-title {
  font-size: 48px;
  font-weight: 400;
  margin: 30px 0;
}

.page-title a {
  text-decoration: none;
  color: #000;
}

.page-title div {
  line-height: 80%;
}

.distorted {
  right: 20%!important;
}

.song-card-content-wrapper {
  width: 100%;
  height: 264px;
  position: relative;
  font-family: Raleway;
}

.pink-search i {
  color: #C490D1 !important;
}

.black-search i {
  color: black !important;
}

.purple-search i {
  color: #B8336A !important;
}

.yellow-search i {
  color: #F6AE2D !important;
}

.orange-search i {
  color: #F26419 !important;
}

.green-search {
  color: #65B891 !important;
}

.light-green {
  color: #AAF683 !important;
}
