@import "card";
@import "show";

.page-title {
  font-size: 48px;
  font-weight: 400;
  margin: 30px 0;
}

.page-title div {
  line-height: 80%;
}

.cards-minimized {
  width: 90%;
}

.invisible {
  display: none;
}

#search-button {
  font-size: 32px;
  position: absolute;
  top: 100px;
  right: 30px;
}

#search-button:hover {
  opacity: 0.8;
}

#search-bar {
  opacity: 0.4;
  color: #fff;
  background-color: #000;
  padding: 15px;
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.song-card-content-wrapper {
  width: 100%;
  height: 264px;
  position: relative;
  font-family: Raleway;
}

/* fun search colors for js */
.black-search {
  color: #000;
}

.purple-search {
  color: #774898;
}

.pink-search {
  color: #e62a76;
}

.yellow-search {
  color: #f6c523;
}

.palegreen-search {
  color: #89f8ce;
}

.orange-search {
  color: #ff9900;
}

.seablue-search {
  color: #1d97c1;
}

.turquoise-search {
  color: #17bebb;
}

.violet-search {
  color: #2b007b;
}

.red-search {
  color: #dd0a35;
}

.paleyellow-search {
  color: #feff89;
}
