.tracks-container a, .tracks-container a:hover, .fake-player a, .fake-player a:hover {
  text-decoration: none;
  color: #fff;
}

.tracks-container {
  position: relative;
}

.full-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.full-white {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-container {
  width: 80%;
}

.full-container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.song-header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.song-details {
  text-align: right;
}

#play {
  font-size: 200px;
}

#play:hover {
  cursor: pointer;
}


#download {
  padding-left: 10px;
  opacity: 0.5;
  color: #000;
}

#download:hover {
  opacity: 1;
}

#clear {
  opacity: 0.5;
  color: #000;
}

#clear:hover {
  opacity: 1;
}

.controls-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls-buttons button {
  background-color: #fff;
  border: 0px solid #000;
}

.controls-buttons a {
  text-decoration: none;
}

/* song details */

.song-title {
  font-size: 32px;
  font-weight: 700;
}

.song-username {
  font-weight: 200;
}

.song-username a {
  text-decoration: none;
  color: #fff;
}

/* general player */
.player-wrapper {
  background-color: #fff;
  padding: 20px;
}

/* player controls */
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 30px;
}

.player-controls a {
  color: #000;
}

/* player tracks */
/* fake track */

.fake-track {
  width: 840px;
  border-radius: 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  opacity: 0.6;
  font-size: 40px;
  color: #000;
  border: 2px dashed #000;
}

.fake-track:hover {
  opacity: 1;
}

/* player normal */

#track-container li {
  line-height: 80%;
  margin-bottom: 5px;
  display: flex;
  justfiy-content: space-between;
  align-items: center;
}

#playhead {
  height: 100%;
  width: 4px;
  position: absolute;
  background-color: #0009C2;
  opacity: 1;
  z-index: 1;
}

.playhead-container {
  position: relative;
  margin-left: 0px;
  border-radius: 5px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 700px;
}

.wave-and-butt {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 75px;
  position: relative;
}

/* solo and mute buttons */
.solo-mute-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 75px;
  min-width: 140px;
  background-color: red;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mute, .solo {
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
  border: 2px solid #fff;
  color: #fff;
  width: 40px;
  height: 40px;
}

.solo {
  font-weight: 700;
}

.solo-on {
  background-color: #feff89;
  color: #000;
  border: 0px solid #000;
}

.mute-on {
  background-color: #f9570c;
}

.track-user-picture img {
  margin-left: 10px;
  box-shadow: 1px 1px 3px #474a56;
  border-radius: 50%;
}

/* other buttons */

.exit-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exit-controls a {
  color: #000;
  opacity: 0.4;
  font-size: 24px;
  padding-left: 10px;
}

/* tracks current user / other user / pending tracks */
.owner-user .wave-and-butt, .owner-user .solo-mute-btns  {
  background-color: #24292E;
}

.current-user .wave-and-butt, .current-user .solo-mute-btns  {
  background-color: #24292E;
}

.pending-tracks .wave-and-butt, .pending-tracks .solo-mute-btns {
  background-color: #929aab;
}

.other-user .wave-and-butt, .other-user .solo-mute-btns {
  background-color: #1c819e;
}

/* track descriptions */
.track-description {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 4px;
  text-align: center;
  padding: 5px 10px;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
}
.synth {
  background-color: #53d397;
}

.snare {
  background-color: #AA0A08;
}

.percussions {
  background-color: #F8333C;
}

.guitar {
  background-color: #fbb901;
}

.kick {
  background-color: #1F215D;
}

.bass {
  background-color: #383838;
}
.drum {
  background-color: #00a8b5;
}

.voice {
  background-color: #f30e5c;
}

.fx {
  background-color: #256EFF;
}

/* pending tracks */

.pending-tracks li {
    line-height: 80%;
    margin-bottom: 5px;
    display: flex;
    justfiy-content: space-between;
    align-items: center;
}

.pending-title {
  font-size: 32px;
  font-weight: 700;
  padding: 10px 0;
}

.add-pending a {
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
}
