.tracks-container a, .tracks-container a:hover, .fake-player a, .fake-player a:hover {
  text-decoration: none;
  color: #fff;
}

.delete-button {
  margin-left: -10px;
}

.tracks-container {
  position: relative;
  margin-left: 30px;
}

.full-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.full-white {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-container {
  width: 80%;
}

.full-container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.song-header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.song-details {
  text-align: right;
}

#play {
  font-size: 200px;
}

#play:hover {
  cursor: pointer;
}


#download {
  padding-left: 10px;
  opacity: 0.5;
  color: #000;
}

#download:hover {
  opacity: 1;
}

#clear {
  opacity: 0.5;
  color: #000;
}

#clear:hover {
  opacity: 1;
}

.controls-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.controls-buttons button {
  background-color: #fff;
  border: 0px solid #000;
}

#download {
  font-size: 32px;
  margin-right: 16px;
}

#clear {
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px
}

.controls-buttons a {
  text-decoration: none;
}

/* song details */

.song-title {
  font-size: 32px;
  font-weight: 700;
}

.song-username {
  font-weight: 200;
}

.song-username a {
  text-decoration: none;
  color: #fff;
}

/* general player */
.player-wrapper {
  background-color: #fff;
  padding: 20px;
}

/* player controls */
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 30px;
}

.player-controls a {
  color: #000;
}

/* player tracks */
/* fake track */

.fake-track {
  width: 940px;
  border-radius: 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  opacity: 0.6;
  font-size: 40px;
  color: #000;
  border: 2px dashed #000;
}

.fake-track:hover {
  opacity: 1;
}

/* player normal */

#track-container li {
  line-height: 80%;
  margin-bottom: 40px;
  display: flex;
  justfiy-content: space-between;
  align-items: center;
  position: relative;
}

#track-container li:hover {
  filter: hue-rotate(180deg);
}

#playhead {
  height: 100%;
  width: 4px;
  position: absolute;
  background-color: #24292E;
  opacity: 1;
  z-index: 1;
}

.playhead-top {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #24292E;
  top: -6px;
  height: 0;
  width: 0;
  margin-left: -4px;
  position: absolute;
}

.playhead-bottom {
  border-bottom: 12px solid #24292E;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  bottom: -8px;
  height: 0;
  width: 0;
  margin-left: -4px;
  position: absolute;
}

.playhead-container {
  position: relative;
  margin-left: 0px;
  border-radius: 5px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 700px;
}

.wave-and-butt {
  height: 75px;
  position: relative;
}

/* solo and mute buttons */
.solo-mute-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 75px;
  border-radius: 10px;
}

.mute, .solo {
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
  border: 2px solid #24292E;
  color: #24292E;
  width: 40px;
  height: 40px;
}

.solo {
  font-weight: 700;
}

.solo-on {
  background-color: #feff89;
  color: #000;
  border: 0px solid #000;
}

.mute-on {
  background-color: #f9570c;
}

.track-user-picture img {
  position: absolute;
  left: -65px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-sizing: content-box;
}

.border-left {
  position: absolute;
  left: -150px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #24292E;
  padding: 5px 10px;
  color: #fff;
  text-align: right;
}

.current-user .track-user-picture img {
  border: 3px solid #6900ff;
}

.other-user .track-user-picture img {
  border: 3px solid #FF1654;
}


// .border-left {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
// }

// .current-user .border-left {
//   background-color: #6900ff;
//   border: 3px solid #6900ff;
// }

// .other-user .border-left {
//   background-color: #4fb783;
//   border: 3px solid #4fb783;
// }

/* other buttons */

.exit-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exit-controls a {
  color: #000;
  opacity: 0.4;
  font-size: 24px;
  padding-left: 10px;
}

// /* tracks current user / other user / pending tracks */
// .owner-user .wave-and-butt, .owner-user .solo-mute-btns  {
//   background-color: #24292E;
// }

// .current-user .wave-and-butt, .current-user .solo-mute-btns  {
//   background-color: #24292E;
// }

// .pending-tracks .wave-and-butt, .pending-tracks .solo-mute-btns {
//   background-color: #929aab;
// }

// .other-user .wave-and-butt, .other-user .solo-mute-btns {
//   background-color: #1c819e;
// }

/* track descriptions */
.track-description {
  right: 10px;
  top: -5px;
  margin-right: 10px;
  padding: 5px 10px;
  font-weight: 200;
  font-size: 16px;
  opacity: 0.8;
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.synth {
  color: #ff6d24;
}

.snare {
  color: #AA0A08;
}

.percussions {
  color: #F8333C;
}

.guitar {
  color: #fbb901;
}

.kick {
  color: #1F215D;
}

.bass {
  color: #383838;
}
.drum {
  color: #e95280;
}

.voice {
  color: #f30e5c;
}

.fx {
  color: #256EFF;
}

/* pending tracks */

.pending-tracks li {
    line-height: 80%;
    margin-bottom: 15px;
    display: flex;
    justfiy-content: space-between;
    align-items: center;
    background-color: #8E9B90;
    border-radius: 10px;
}

.pending-title {
  font-size: 32px;
  font-weight: 700;
  padding: 10px 0;
}

.add-pending a {
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
}
