.single-track {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}

.track-description {
  width: 20%;
}

.track-sound {
  width: 70%;
}

.track-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.song-details-container {
  color: white;
  font-weight: lighter;
  width: 100vw;
  padding: 40px 0px 60px 0px!important;
  background-size: cover;
  background-position: center;
}

.song-details-content {
  padding-left: 15px;
}

.song-details-content a {
  color: white;
  text-decoration: none;
}

.song-details-content a:hover {
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 4px 6px;
  text-decoration: none;
}
