.pending-tracks-count {
  color: #fcf3ca;
  padding: 10px 15px;
  background-color: #fc3c3c;
  border: 2px solid #fcf3ca;
  font-weight: 700;
  width: 200px;
  border-radius: 3px;
  text-align: center;
}

.active-tracks-count {
  color: #fcf3ca;
  padding: 10px 15px;
  background-color: #109648;
  border: 2px solid #fcf3ca;
  font-weight: 700;
  width: 200px;
  border-radius: 3px;
  text-align: center;
}

.user-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.user-container {
  margin: 50px auto;
}

/* grid */

.user-song-card {
  height: 264px;
  width: 100%;
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 1px 1px 3px #474a56;
  opacity: 0.8;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  position: relative;
}

.user-song-card:hover {
  cursor: pointer;
  opacity: 1;
}

.user-songs-grid a {
  text-decoration: none;
  color: #fff;
}

.user-song-card-name {
  font-size: 32px;
  font-weight: 900;
}

.user-song-card-metada {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-username {
  font-size: 1.2em;
}

.user-userdescription {
  font-weight: lighter;
}

.user-data {
  color: rgb(37, 41, 46);
  border-bottom: 2px solid rgba(37, 41, 46, 0.7);
  padding-bottom: 20px;
  height: 170px;
  width: 800px;
}

.pending-tracks-on-profil {
  color: rgb(240, 192, 111);
  background: rgb(37, 41, 46);
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
