

.show-box {
  background-color: white;
  border-radius: 1%;
  line-height: 2vw;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 4vw;
  text-align: center;
}

.category {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}

.song-card {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 4vw;
  text-align: center;
}
