.track {
  width: 100%;
  height: 75px;
  margin: 3px 0px;
}

#buttons-player {
  display: flex;
  align-items: center;
}

#play {
  background-color: #fff;
  color: #359768;
  border: 0px solid #000;
  font-size: 96px;
}

#clear {
  border: 0px solid #000;
  color: #ffbc2c;
  font-weight: 900;
}

.player-container {
  margin: 20px auto;
  width: 70vw;
}

#playhead {
  height: 100%;
  width: 4px;
  position: absolute;
  background-color: #0009C2;
  opacity: 0.6;
}

.playhead-container {
  position: relative;
  margin-left: 0px;
  border-radius: 5px;
}

.mute, .solo {
  background-color: #eee;
  border-radius: 5px;
  margin: 5px;
  border: 0px solid #000;
  color: #393e46;
  width: 40px;
  height: 40px;
}

.fa-volume-off {
  color: #bbb;
}

.solo {
  font-weight: 700;
}

.tracks-container {
  margin-top: 20px;
  margin-bottom: 100px;
}

#track-container li {
  line-height: 80%;
}

.wave-and-butt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wave-and-butt img {
  border-radius: 50%;
}

.song-show-track-type {
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 100;
  font-family: Raleway;
  color: #bbb;
  font-size: 18px;
  border-top: 1px solid rgba(238,238,238, 0.5);
}
