.my-button {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #29934A;
  color: #29934A;
  transition: 1.5s;
  font-family: 'Raleway';
  font-weight: 300;
  padding: 15px 20px;
  margin-bottom: 40px;
}

.my-button:hover {
  background-color: #29934A;
  border-radius: 30px;
  color: white;
}

.new-track-form h3 {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Raleway';
  padding: 5px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 10px;
  width: 260px;
  margin: 40px auto;
  padding: 15px;
}

.input-description .form-control-label {
  font-size: 24px;
  font-weight: 100!important;
}

.track_description textarea {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.8;
}

.track_uploaded_file label {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 100!important;
}

.track_uploaded_file input {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.track_uploaded_file .required{
  font-size: 24px;
  margin-top: 20px;
}

#track_uploaded_file {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Raleway';
  font-weight: 200!important;
  font-style: italic;
}

.input-button {
  margin-top: 40px;
}
