.my-button {
  background-color: white;
  border-radius: 30px;
  border: 2px solid #29934A;
  color: #29934A;
  transition: 1.5s;
}

.my-button:hover {
  background-color: #29934A;
  border-radius: 30px;
  color: white;
}
